
.Options {
  background-color: white;
  border-left: solid black 2px;
  border-right: solid transparent 2px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  i {
    font-size: 1.5rem;
    padding: 0.5em;
    cursor: pointer;
    flex: 0;
    display: block;
    text-align: center;
    color: black;

    &:hover {
      color: dodgerblue;
    }
  }
}
