
.DatabaseViewer {
  display: flex;
  $table-list-width: 60px;
  $options-width: 60px;
  $table-details-width: 600px;

  >svg:not(:last-child) {
    border-right: solid black 2px;
  }

  .TableListContainer {
    $width-inactive: $table-list-width;
    $width-active: 300px;

    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: $width-inactive;
    border: solid black;
    border-width: 0 2px 0 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    cursor: pointer;
    transition: width 0.2s 0.1s;

    &::-webkit-scrollbar {
      display: none;
    }

    >* {
      opacity: 0;
      transition: opacity 0.1s;
    }

    &:hover {
      width: $width-active;
      transition: width 0.2s;
      
      >* {
        opacity: 1;
        transition: opacity 0.1s 0.2s;
      }
    }
  }

  .PinnedTableContainer {
    position: fixed;
    top: 0;
    right: $options-width;
    bottom: 0;
    width: $table-details-width;
    border: solid black;
    border-width: 0 0 0 1px;
    background-color: white;
  }

  .OptionsContainer {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: $options-width;
  }

  .FileNameContainer {
    position: fixed;
    top: 0;
    left: $table-list-width;
    right: $options-width;
    height: 50px;

    h1 {
      padding: 0.7em;
      font-size: 1.3em;
      font-weight: normal;
      text-align: center;
      margin: 0;
    }
  }
}
