
button {
  border: none;
  padding: 0.7em 1em;
  font-size: 1.2rem;
  outline: none;
  cursor: pointer;
  background-color: dodgerblue;
  color: beige;

  &:hover {
    background-color: lighten(dodgerblue, 5);
  }

  &:active {
    background-color: lighten(dodgerblue, 10);
  }
  
  &.small {
    padding: 0.3em 0.5em;
  }
}
