
.CheckBox {
  font-size: 1rem;
  padding: 0.5em;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  position: relative;

  &::before {
    width: 1em;
    height: 1em;
    border: solid lightgrey 2px;
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5em;
  }

  &::after {
    left: 0.75em;
    top: 0.75em;
    content: '';
    width: 0.75em;
    height: 0.75em;
    position: absolute;
    background-color: white;
  }

  &:hover {
    &::before {
      border-color: grey;
    }
    &::after {
      background-color: lightgrey;
    }
  }

  &.checked {
    &::before {
      border-color: grey;
    }
    &::after {
      background-color: dodgerblue;
    }
  }
}
