
.Tabs {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 1em 0;
  border-bottom: solid lightgrey 1px;
  overflow: visible;
  font-size: 1.1em;

  .Tab {
    flex: 1;
    background-color: inherit;
    padding: 0.5em 1em;
    cursor: pointer;
    margin-bottom: -1px;
    border-bottom: solid transparent 1px;
    text-align: center;
    color: gray;

    &:hover {
      color: black;
      border-color: dodgerblue;
    }

    &.selected {
      border-color: dodgerblue;
      border-bottom-width: 3px;
      margin-bottom: -2px;
      color: black;
    }
  }
}
