
.GraphSpace {
  flex: 1;
  height: 100vh;

  .node {
    cursor: default;
    circle {
      stroke: black;
      stroke-width: 2px;
      fill: white;
    }

    text: {
      fill: red;
      alignment-baseline: middle;
    }

    &.virtual {
      circle {
        fill: black;
        r: 5;
      }

      text {
        display: none;
      }
    }
  }

  .edge {
    line {
      stroke: black;
    }
  }
}
