@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3do1r5');
  src:  url('fonts/icomoon.eot?3do1r5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3do1r5') format('truetype'),
    url('fonts/icomoon.woff?3do1r5') format('woff'),
    url('fonts/icomoon.svg?3do1r5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mssql:before {
  content: "\e90d";
}
.icon-undo:before {
  content: "\e90c";
}
.icon-invert:before {
  content: "\e907";
}
.icon-tick-inside-circle:before {
  content: "\e908";
}
.icon-untick-inside-circle:before {
  content: "\e90b";
}
.icon-back:before {
  content: "\e900";
}
.icon-check:before {
  content: "\e901";
}
.icon-close:before {
  content: "\e902";
}
.icon-db-connect:before {
  content: "\e903";
}
.icon-exit:before {
  content: "\e904";
}
.icon-floppy:before {
  content: "\e905";
}
.icon-mysql:before {
  content: "\e906";
}
.icon-open-folder:before {
  content: "\e909";
}
.icon-postgresql:before {
  content: "\e90a";
}