
.GraphSpace {
  flex: 1;
  height: 100vh;

  .table {
    cursor: default;

    rect {
      stroke: black;
      stroke-width: 1px;
      fill: white;
    }

    .titleRect {
      fill: lightblue;
    }

    &:hover {
      rect:not(.titleRect) {
        stroke-width: 2px;
      }
    }
  }

  .node {
    cursor: default;
    circle {
      stroke: black;
      stroke-width: 2px;
      fill: white;
    }

    text: {
      fill: red;
      alignment-baseline: middle;
    }

    &.virtual {
      circle {
        fill: black;
        r: 0;
      }

      text {
        display: none;
      }
    }
  }

  .edge {
    line {
      stroke: black;
    }
  }
}
