
.Home {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  margin-top: 30vh;
  transform: translate(0, -50%);

  .Option {
    flex: 0;
    padding: 1em;
    cursor: pointer;
    border: solid transparent 2px;
    display: flex;
    flex-direction: column;
    text-align: center;

    i {
      font-size: 6rem;
      color: grey;
      flex: 1;
      transition: color 0.1s;
    }

    h2 {
      text-align: center;
      font-weight: normal;
      padding: 0.7em;
      color: black;
      font-size: 1.2rem;
      flex: 0;
    }

    &:hover {
      i {
        color: dodgerblue;
      }
    }
  }
}
