
.TableColumns {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  h1 {
    flex: 0;
    margin: 0;
    padding: 1em;
    padding-left: 2em;
    font-size: 1.5em;
    text-align: left;
  }

  .close {
    $shift: 0.1em;
    $offset: 1.5em;
    $size: 1em;

    position: absolute;
    top: $offset;
    right: $offset;
    font-size: $size;
    cursor: pointer;
    color: grey;

    &:hover {
      color: black;
    }
  }

  .ViewContainer {
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  table {
    width: 100%;
    border-spacing: 0;
    table-layout: auto;

    th {
      text-align: left;
      font-weight: normal;
      padding: 0.7em 1em;
      font-size: 1.1em;
      border-bottom: solid beige 1px;
    }

    td {
      padding: 0.4em 1em;
      border-bottom: solid beige 1px;
      vertical-align: middle;
      color: lighten(#000, 20);

      img {
        height: 1em;
      }

      &.boolean {
        text-align: center;
      }

      &.notNull {
        font-weight: bold;
      }

      &:first-child {
        padding-right: 0;
      }
    }
  }

  .IndexTable {
    td:first-child {
      max-width: 150px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .References {
    display: flex;
    flex-direction: row;
    padding: 1em;

    div {
      flex: 1;
    }

    h2 {
      font-size: 1.1rem;
      padding: 0.5em;
    }
  }
}
