
.ConnectPage {
  height: 100%;
  width: 600px;
  margin: 0 auto;
  $divider-height: 1px;

  .BackButtonContainer {
    position: fixed;
    top: 30px;
    left: 30px;
    height: 40px;
    width: 40px;
    cursor: pointer;

    i {
      color: grey;
      font-size: 2rem;
    }

    &:hover {
      i {
        color: black
      }
    }
  }

  .VendorOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10vh;
    border-bottom: solid lightgrey $divider-height;

    .Option {
      width: 100px;
      cursor: pointer;
      border-bottom: solid lightgrey $divider-height;
      transition: border-color 0.1s;
      margin-bottom: -$divider-height;
      text-align: center;
      color: gray;
      transition: border-color 0.1s;

      i {
        display: block;
        font-size: 3rem;
        padding: 0.5em;
        transition: color 0.1s;
      }

      h2 {
        font-size: 1.2em;
        padding: 0.5em;
        font-weight: normal;
        text-align: center;
        transition: color 0.1s;
      }

      &:hover {
        border-color: dodgerblue;
        color: black;
      }

      &.selected {
        border-color: dodgerblue;
        border-bottom-width: $divider-height + 2px;
        margin-bottom: -$divider-height - 1px;
        color: black;
      }
    }
  }

  .Form {
    display: flex;
    flex-direction: row;
    margin-top: 7vh;

    label, input {
      font-size: 1.3rem;
      padding: 0.5em 0.5em;
      margin-bottom: 1em;
      border: solid transparent 1px;
    }

    label {
      color: grey;
    }

    input {
      outline: none;
      border-color: transparent;
      border-bottom-color: lightgrey;

      &:hover {
        border-bottom-color: grey;
      }

      &:focus {
        border-bottom-color: dodgerblue;
      }
    }

    .Labels {
      flex: 0;

      label {
        display: block;
        width: 100%;
        text-align: right;
      }
    }

    .Inputs {
      flex: 1;

      input {
        width: 100%;
      }
    }
  }

  .Controls {
    margin-top: 2rem;
    text-align: right;
  }

  .Loader {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.loading {
    .BackButtonContainer, .Form, .Controls {
      display: none;
    }
    .Loader {
      display: block;
    }
  }
}
