
.TableSelection {
  height: 100%;
  display: flex;
  flex-direction: column;

  .ControlPanel {
    flex-basis: auto;
    padding: 0.5em;
    border-bottom: solid lightgrey 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    i {
      text-align: center;
      display: block;
      font-size: 2rem;
      padding: 0.25em;
      color: grey;
      transition: color 0.1s;

      &:hover {
        color: black;
      }
    }
  }

  .TableList {
    flex: 1;
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    padding: 0.5em;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
